<div>
    <div class="titre">
        <span class="h2">RÉFÉRENCES</span>
    </div>
    <div class="section">
           <div class="container">
                <h2 class="title">Création, maintenance et évolution des sites (quelques références non exhaustives) :</h2>
                
                <div class="container">
                    <div class="flex">
                        <div class="flex-div"> 
                            <a href="https://www.agenceecofin.com/">
                               <img src="../../assets/image/ecofin.png" width="320px" height="150px">
                               <h3>Agence Ecofin</h3>
                               <p>L’Agence Ecofin est une agence d’informations <br> spécialisées dans la gestion publique <br> et l'économie africaine.</p>
                            </a>
                       </div>
   
                       <div class="flex-div">
                           <a href="https://www.ecofinpro.com/fr/">
                               <img src="../../assets/image/ecofinpro.jpg" width="320px" height="150px">
                               <h3>Ecofin Pro</h3>
                               <p>Ecofin Pro, une plateforme <br> premium dédiée aux professionnels</p>
                           </a>
                      </div>
   
                      <div class="flex-div">
                           <a href="https://www.wearetech.africa/">
                               <img src="../../assets/image/techafrica.png" width="320px" height="150px">
                               <h3>We Are Tech Africa</h3>
                               <p>We Are Tech met en lumière l'impact <br> de la technologie sur le développement humain<br> et la croissance  économique en Afrique.</p>
                           </a>
                       </div>
                    </div>
                    <br>
                    <div class="flex">
                        <div class="flex-div">
                            <a href="https://www.investiraucameroun.com">
                                <img src="../../assets/image/cameroon.png" width="320px" height="150px">
                                <h3>Investir au Cameroun</h3>
                                <p>Investir au Cameroun couvre au quotidien <br> l'actualité économique du Cameroun</p>
                            </a>
                        </div>
                        
                        <div class="flex-div">
                            <a href="https://www.togofirst.com/fr">
                                <img src="../../assets/image/togo.png" width="320px" height="150px">
                                <h3>Togo First</h3>
                                <p>Togo First est un site d'actualités destiné <br> à toute personne qui souhaite investir <br> ou entreprendre au Togo</p>
                            </a>
                        </div>
                        
                        <div class="flex-div">
                            <a href="https://www.lenouveaugabon.com/fr">
                                <img src="../../assets/image/gabon.png" width="320px" height="150px">
                                <h3>Le nouveau Gabon</h3>
                                <p>Le Nouveau Gabon est un site <br> d’information sur l’économie et la gestion <br> publique du Gabon, fondé en octobre 2014</p>
                            </a>
                        </div>
                    </div>
                </div>
           </div>
    </div>
</div>





