<div>
     <div class="img">
          <img src="../../assets/image/logo.svg">
     </div>
     <div class="head">
         <ul class="liens"> 
            <li><a href="">PRESENTATION</a></li>
            <li><a href="">SERVICES</a></li>
            <li><a href="">EQUIPES</a></li>
            <li><a href="">REFERENCES</a></li>
            <li><a href="">CONTACT</a></li>
         </ul>
     </div>
     <div class="body">
        <p>VOTRE PARTENAIRE</p>
        <p>POUR DES SOLUTIONS IT SUR MESURE</p>
     </div>
</div>