<div>
    <div class="containere">
        <div class="img">
            <img src="../../assets/image/logo.svg">
        </div>
       <header class="scrolled">
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul>
                <li>
                    <a href="" >PRESENTATION</a>
                </li>
                <li>
                    <a href="">NOS SERVICES</a>
                </li>
                <li>
                    <a href="">EQUIPES</a>
                </li>
                <li>
                    <a href="">RÉFÉRENCES</a>
                </li>
                <li>
                    <a href="">CONTACT</a>
                </li>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
       <div class="section">
           <p>VOTRE PARTENAIRE <br> POUR DES SOLUTIONS IT SUR MESURE</p>
        </div>
    </div>
</div>