<div>
    <div class="titre">
        <span class="h2">L'ÉQUIPE</span>
    </div>
    <div class="section">
        <div class="container">
            <div class="flex">
                 <div class="flex-item">
                      <span>OMAR SOKHNA</span>
                      <p>Gerant, responsable technique et developpeur full-stack</p>
                      <a href="">Linkdine</a>
                 </div>

                 <div class="flex-item">
                    <span>MAMADOU DIOP</span>
                    <p>Chef de projet IT et developpeur full-stack</p>
                    <a href="">Linkdine</a>
               </div>

                 <div class="flex-item">
                      <span>BABACAR MANE</span>
                      <p>Chef de projet IT et developpeur full-stack</p>
                      <a href="">Linkdine</a>
                 </div>

                 <div class="flex-item">
                    <span>BENJAMIN FLOW</span>
                    <p>Chef de projet web marketing</p>
                    <a href="">Linkdine</a>
               </div>

               <div class="flex-item">
                  <span>JEREMIE FLOW</span>
                  <p>Chef de projet multimedia</p>
                  <a href="">Linkdine</a>
             </div>
            </div>

           <div class="text">
                <p>Nous collaborons avec plusieures experts partenaires, basee au Senegal, 
                    en Cote d'Ivoire,Cameroon, Benin, Madagascar et au Canada.</p>
           </div>
        </div>
    </div>
</div>
