<div>
    <div class="titre">
        <span class="h2">NOS SERVICES</span>
    </div>
    <div class="section">
        <div class="container">
            <div class="flex">
                <div>
                     <span >Développement web et Mobile</span>
                     <ul>
                        <li>Site e-commerce</li>
                        <li>Réalisation de média en ligne</li>
                        <li>Plateforme web sur mesure</li>
                        <li>Application mobile</li>
                        <li>Test logiciel</li>
                        <li>Sécurité</li>
                     </ul>
                </div>
                <div>
                    <span>Conseil et Stratégie</span>
                    <ul>
                       <li>Conseil IT</li>
                       <li>Audit Informatique</li>
                       <li>Formation sur mesure</li>
                    </ul>
                </div>
                <div>
                <span>Web Marketing</span>
                <ul>
                   <li>Inbound Marketing</li>
                   <li>Production de contenus</li>
                   <li>Campagne d'emailing</li>
                   <li>Référencement</li>
                   <li>Social Media</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
