.section {
    background-color: white;
    padding: 45px 0;
}
.titre {
    background-color: rgb(216, 17, 17);
    color: white;
    text-align: center;
}
.h2 {
    padding: 6px;
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}